.back-to-top {
  text-align: center;
  /* float: right; */
  position: relative;
  /* bottom: 19px; */
  /* right: 50px; */
  z-index: 1050;

  width: 25px;
  height: 23px;
  padding: 5px;
  background: #222;
  color: #fff;
  cursor: pointer;
  -webkit-transform: translateZ(0);

  &:before {
    display: block;
    content: " ";
    margin-top: 2px;
    width: 0;
    height: 0;
    border-width: 0 7px 8px 7px;
    border-color: transparent transparent white transparent;
    border-style: solid;
  }
}
